/*BookSearch.css */

.book-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0; /* Light Grey */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.book-search input {

}

.book-search button {


}


.book-search button:hover {

}
